
/*MAIN*/

.main{

}

/*BANNER*/
.banner
{
    color: wheat;
}

/*MY SKILLS*/
.my-skills
{
    background-color: #7299FE;
    color: white;
}

/* SERVICIOS*/
.servicios
{
    background-color: #FB7171;
    color: white;
}

/* PORTAFOLIO*/
.portafolio
{
    background-color: #FFD233;
    color: white;
}

/* CLIENTES*/
.clientes
{
    background-color: #3F4E62;
    color: white;
}

/* CONTACTO*/
.contactos
{
    background-color:#BFBFBF ;
    color: white;
}
.contactos button
{
    background-color: #233451;
    color: white;
} 

